@import url('https://fonts.googleapis.com/css?family=Righteous');

body{
  background: #181818;
  font-family: 'Righteous', cursive;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #7abe79;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
.nav{
  position: fixed;
  width: 100vw;
  height: 80px;
  background: #56cd75;
  left:0;
  top: 0;
  z-index: 5;
}
.navcontent{
  background: #000;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.navlist{
  font-size: 60px;
  color: #56cd75;
  float: right;
  cursor: pointer;
  margin-top: 10%;
  margin-right: 10%;
}
.navlist>span{
  display: block;
  line-height: 100px;
  text-align: right;
  border-bottom: 3px solid transparent;
  transition: all ease-in-out .3s;
}
.navlist>span:hover{
  border-bottom: 3px solid #eee;
}

.contactic>span{
  float: right;
  margin-left: 20px;
  filter: grayscale(1);
  transition: all ease-in-out .2s;
}
.contactic>span:hover{
  filter: none;
}
.contactic>span>img{
  height: 30px;
  width: 30px;
}

.ham{
  float: right;
  right: 0;
  margin: 20px 20px;
  width: 50px;
  height: 60px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
}

.bar,
.bar:after,
.bar:before {
  width: 50px;
  height: 5px;
}

.bar {
  position: relative;
  transform: translateY(15px);
  background: white;
  transition: all 0ms 300ms;
}
.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#bubbles{
  position: absolute;
  height:;
  width:99%;
  overflow: hidden;
  z-index: -1;
}

.cover{
  margin-top: 80px;
  overflow-x: hidden;
  width: 100%;
  height: 80vh;
  border-bottom: 1px solid #eee;
}
.title{
  font-size:10rem;
  color: #eee;
  /* text-align: center; */
  position: absolute;
  margin-left: 25%;
  margin-top: 8%;
}

.title::after{
  content: "we create custome web-designs and satisfying user-experience";
  display: block;
  font-size: 1.2rem;
  color: #999;
  margin-left: 3%;
}
.titlegrad{
  background: linear-gradient(to top,#38beff,#eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title::first-letter{
  color: #38beff;
}
.title::first-letter::after{
  content: "a";
}
.title>span:nth-of-type(1){
  color: #fe6aff;
}
.title span:nth-of-type(2){
  display: block;
  margin-top: -60px;
}
.title span:nth-of-type(2)::before{
  content: "";
  height:130px;
  top: 46%;
  border-left: 2px solid #56cd75;
  position: absolute;
}

/*
#fe6aff
#38beff
#fafaf9 */

.featdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-80px);
}
.featdiv div{
  height: 200px;
  width: calc(80%/3 - 50px);
  color: #eee;
  background: black;
  border-radius: 5%;
  box-shadow: 1px 1px 25px 0px black;
  text-align: center;
}
.featdiv div:first-of-type{
  background-image: url(/assets/css/consult.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.featdiv>div>span{
  font-size: 25px;
}
.featdivdes:first-of-type::after{
  content:"Talk to us about your business";
  display: block;
  margin-top: 32%;
  font-size: 18px;
  color: white;
}
.featdiv div:nth-of-type(2){
  background-image: url(/assets/css/dcool.gif);
  background-size: cover;
}
.featdiv div:nth-of-type(3){
  background-image: url(/assets/css/toronto.gif);
  background-size: contain;
  background-position: center;
  background-color: #921e2a;
  background-repeat: no-repeat;
}

.section2{
  width: 100%;
  height: 600px;
}
.section2>div{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: #eee;
}
.section2>div::after{
  content: "";
  background: pink;
  margin-left: 40px;
}

@media (max-width:450px) {
  .navlist{
    margin-top: 20%;
  }
  .title{
    font-size:70px;
    margin-left: 1%;
    margin-top: 35vh;
  }
  .title span:nth-of-type(2){
    margin-top: -20px;
  }
  .title span:nth-of-type(2)::before{
    height: 62px;
    top:40%;
  }
  .featdiv{
    flex-direction: column;
  }
  .featdiv div{
    height: 200px;
    width: 80%;
    margin-bottom: 20px;
  }
}
